@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


table td {
	@apply border-blue-700 border text-center
}

table th {
	@apply p-1 text-lg border-blue-900 bg-blue-300 border text-center
}

button {
	@apply border border-gray-500 bg-gray-200 hover:bg-gray-300 px-2 py-1 rounded-md
}

.btn-action {
	@apply bg-cblue/80 text-white hover:bg-cblue 
}

.btn-danger {
	@apply bg-red-400 hover:bg-red-400 
}

.text-info {
	@apply text-gray-500 italic text-sm
}

.text-error {
	@apply text-red-500 italic text-sm
}

[x-cloak] {
    display: none !important;
}

.label {
    @apply border border-orange-400 rounded px-1;
}

.json-table input {
    border: none;
    @apply p-1
}

button {
    @apply py-0 px-1
}

input[type=text], textarea {
    @apply !rounded-sm border-none p-1
}

.biography p {
    @apply mb-2
}

.biography a {
    @apply text-cgreen
}